<% if @event %>
  <%= render :partial => "shared/event_form", :locals => {:action => "Create"} %>
<% end %>
<table summary="profile information" class="profile">
  <tr>
    <td>
      <h1><%=@user.name %></h1>
    </td>
  </tr>
  <tr>
    <td>
      <%= paginate @events %>
      <table summary="user events" id="events_list">
        <%= render @events %>
      </table>
    </td>
  </tr>
</table>
