<table summary="profile information" class="profile">
  <tr>
    <td>
      <table summary="user events" id="events_list">
        <%= render 'shared/events' %>
      </table>
    </td>
    <td> <%= render 'shared/calendar' %> </td>
  </tr>
</table>
<% if @event %>
  <%= render 'shared/event_form' %>
<% end %>
