<% if @events %>
  <h1>latest events</h1>
  <table summary="latest events" id="events_list">
    <%= render @events %>
  </table>
  <%= render 'shared/event_form' %>
<% else %>
  <h1>Test Application</h1>
  <p>
    Welcome to the Test Application
  </p>
  <%= link_to "sign up now", new_user_registration_path %><br>
  <%= link_to "sign in", new_user_session_path %>
<% end %>
