// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
  label {
    color: #fff;
  }
}
.rest-in-place {
  width: 100%;
  display: block;
  &:hover {
    cursor: pointer;
    background-color: darken(#FEF0C9, 15%);
  }
  textarea {
    font: {size: large; }
    width: 95%;
  }
}
.event_content
{
  width: 100%;
  display: block;
  border: {top: solid 1px;}
}
