// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_event_div {
  border: {
    style: solid;
    color: black;
    width: 1px;
  }
  margin: 5px;
  padding: 5px;
  .field {padding: 3px;}
  margin-bottom: 15px;
}
