$main_color: #1E1E1E;

nav {

  background-color: black;
  ul li {
    display: inline-block;
    list-style-type: none;
    a {
      color: white;
      &:visited {color: gray;}
      }
    }
  }


/*body {
  background-color: darken(#FFF,50%);
}*/
