// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_width: 75%;
.profile {
  tr {
    vertical-align: top;
    td {width: 15%;}
  }
  tr td:first-child {
    width: $main_width;
  }
}
.calendar {

  a:hover { cursor: pointer;}
  a {display: block;}
}

#events_list
{
  tr td {
  border:
  {top: solid;}
   }
}
