// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  tr {
    vertical-align: top;
    td {width: 15%;}
  }
  tr td:first-child {
    width: 75%;
  }
}

.calendar {

  a:hover { cursor: pointer;}
  a {display: block;}

  .otherday
  {
    color: #101010;
  }
  td {
  width:15% !important;
  text-align: center;
  }
  .ui-datepicker-other-month {
    color: #A1A1A1;
  }
}

